.header__logo {
  width: 146px;
  height: 32.5px;
}

@media screen and (max-width: 940px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}