@import url('./_delete/popup__title_delete.css');
.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 83%;
  margin: auto;
  margin-bottom: 54px;
  margin-top: 34px;
}
