@import url('./__icon/element__icon.css');
@import url('./__image/element__image.css');
@import url('./__title/element__title.css');
@import url('./__info/element__info.css');
@import url('./__trash/element__trash.css');
@import url('./__counter/element__counter.css');

.element {
  width: 282px;
  height: 361px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}