@import url('./vendor/normalize.css');
@import url('./blocks/header/header.css');
@import url('./blocks/webpage/webpage.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/edit-button/edit-button.css');
@import url('./blocks/add-button/add-button.css');
@import url('./vendor/Inter-font/Inter-font.css');
@import url('./blocks/elements/elements.css');
@import url('./blocks/element/element.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/btn-close/btn-close.css');

.App {
  background-color: black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal; 
}